/* #logo {
background-color: black;
}

 body {
     background: color #ebeff5;
 }

 #total-orders {
   background-color:turquoise;
 }
 #orders-delivered {
     background-color:turquoise;
 }

 #orders-pending {
     background-color:turquoise;
 } */